@page "/"
@inject NavigationManager Navigation
<PageTitle>Расписание матчей Dota 2 live score, смотреть трансляции и стримы матчей Дота 2 - CyberScore</PageTitle>

<head>
    <meta charset="utf-8" />
    
</head>
<body>  
    
</body>

@code{
}

